.main-conatiner {
  width: 100%;
  margin: auto;
  .part:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .wrapper {
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem;
      width: 85%;
      .yc {
        display: flex;
        flex: 2;
        flex-direction: column;
        span {
          display: flex;
          align-items: center;
          font-family: "Poppins", "Nunito", sans-serif;
          font-weight: 400;
          font-size: 1rem;
          h2 {
            font-family: "Nunito", "Poppins", sans-serif;
            font-size: 1.8rem;
            font-weight: 400;
            margin-right: 0.4rem;
          }
        }
        h1 {
          font-family: "Nunito", "Poppins", sans-serif;
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }
      .pu {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        .pu-wrapper {
          width: calc(7rem + 2.5vw);
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h2 {
          position: absolute;
          font: 1rem "Poppins", sans-serif;
          font-weight: 500;
          // left: 20%;
          pointer-events: none;
          // top: 25%;
          color: white;
        }
        img {
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
  #products {
    margin: 4rem 0;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-prod {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      .img {
        flex: 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .det {
        flex: 3;
        display: flex;
        flex-direction: column;
        .title,
        .rating,
        .p-c,
        .offers {
          margin: 0.2rem 0rem;
        }
        .title {
          h4 {
            font-family: "Montserrat", "Nunito", sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(106, 106, 106, 1);
          }
          h2 {
            font-family: "Poppins", san-serif;
            font-family: "poppins", sans-serif;
            font-weight: 500;
          }
        }
      }
      .rating {
        display: flex;
        .avg {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 1;
          min-height: 2rem;
          border-radius: 0.4rem;
          background: rgba(66, 58, 242, 1);
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            width: 70%;
          }
          img {
            width: 35%;
          }
          h4 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            color: white;
            font-size: 1rem;
          }
        }
        .r-count {
          flex: 6;
          display: flex;
          justify-content: start;
          align-items: center;
          h4 {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 1rem;
          }
        }
      }
      .p-c {
        .price {
          font-family: "poppins", sans-serif;
          flex: 2;
          max-width: 100px;
          h2 {
            font-weight: 500;
            font-size: 1.8rem;
          }
          .cut-p {
            h2 {
              font-size: 1.4rem;
              color: rgba(67, 67, 67, 1);
              position: relative;
              .cut {
                width: 4ch;
                top: 40%;
                position: absolute;
                height: 0.2rem;
                background: rgba(67, 67, 67, 1);
              }
            }
            h3 {
              font-size: 1.2rem;
              font-weight: 400;
              color: rgba(37, 30, 187, 1);
            }
          }
        }
        .prod-c {
          flex: 2;
          align-items: center;
          img {
            width: calc(2rem + 1vw);
          }
          h2 {
            font-family: "Nunito", "Poppins", sans-serif;
            font-size: 1.8rem;
          }
        }
      }
      #offers {
        .offer {
          display: flex;
          margin: 0.2rem 0;
          gap: 0.4rem;
          align-items: flex-start;
          img {
            flex: 1;
          }
          h2 {
            font-family: "Nunito", "Poppins", sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            flex: 12;
          }
        }
      }
    }
  }
  #price-b {
      min-height: 260px;
      display: flex;
    .inner-price {
      flex-direction: column;
      .bh2 {
        display: block;
        font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito",
          sans-serif;
        margin-bottom: 2rem;
        h2 {
          font-weight: 600;
          font-size: 1.8rem;
          &::before {
            content: "";
            position: absolute;
            width: 1.4%;
            height: 1.8ch;
            border-radius: 20rem;
            transform: translateX(-200%);
            background: rgba(66, 58, 242, 1);
          }
        }
      }
      .b-p {
        display: flex;
        flex: 1;
        justify-content: space-between;
        .breakdown {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          max-width: 360px;
          flex: 1;
          .breakpart {
            display: flex;
            .img-text {
              display: flex;
              flex: 2;
              align-items: center;
              gap: 0.5rem;
              h4 {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 1.4rem;
              }
              img {
                 width: calc(2rem + 4%);
              }
            }
            .t-blue,
            span {
              color: rgba(66, 58, 242, 1);
            }
            h3 {
              flex: 1;
              font-family: "Poppins", sans-serif;
              font-weight: 500;
              font-size: 1.5rem;
            }
          }
          .line {
            width: 90%;
            height: 0.2em;
            border-radius: 8rem;
            background: rgba(66, 58, 242, 1);
          }
          .total {
            h2,
            h4 {
              font-weight: 500 !important;
            }
          }
          form {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid rgba(66, 58, 242, 1);
              border-radius: .8rem;
              overflow: hidden;
              padding: 1rem;
              position: relative;
              input[type="submit"]{opacity:0;}
              img{
                position: absolute;
                width: 54%;
                right: -15%;
                height: 129%;
            
              }
              button{
                  border:none;
                  background: transparent;
                  flex:1;
              }
              input[type="text"]{
                  flex: 1;
                  height: 100%;
                  border: none;
              }
          }
        }

        .payment-container {
          flex: 1;
          max-width: 360px;
          h2{
            font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito",
            sans-serif;
            font-weight: 600;
            font-size: 1.8rem;
          }
          .pay{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position:relative;
            margin: 1.4rem 0;
            h4{
              position: absolute;
              font-size: 1rem;
              font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito";
              color: #fff;
              font-weight: 600;
              left:49%;
              pointer-events: none;
            }
          }
          .payment-main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: start;
            gap: 0.5rem;
            margin-top: 1.4rem;
            .payments{
              display: flex;
              align-items: center;
              justify-content: space-between;
              .payment{
                display: flex;
                align-items: center;
                gap:0.5rem;
                flex: 1;
                h4{
                  font-family: "Nunito", "Poppins", sans-serif;
                  font-weight: 400;
                  font-size: 1.4rem;
                  flex: 6;
                }
                .img-t{
                  display: flex;
                  align-items: center;
                  width: calc(1.5rem + 4%);
                  img{
                   width: 100%;
                  }
                }
              }
            }
          }
        }}
      }
    }
  }
.part {
  background: white;
  width: 100%;
  .wrapper {
    width: 85%;
    display: flex;
    margin: auto;
  }
}
