@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
* a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #f6f6f6;
  width: 100vw;
}

:root {
  --bh1:calc(1rem + 2vw);
  --placeholder: #807F7F;
  --liner-login:linear-gradient(97.6deg, #423AF2 44.25%, rgba(168, 47, 249, 0.6) 157.95%);
  --blue:#423AF2;
  --blue-h:#2A20FF;
  --pink:#A82FF9;
  --f18:calc(.8rem + .8vw);
  --card-shadow: 0px 4px 4px 0px #00000040;
  --grey: #51515199;
  --h2r:1.5rem;
  --bh2r:1.8rem;
  --sh2r:1.2rem;
}

.flex {
  display: flex;
}

nav {
  width: 100vw;
  margin-top: calc(2.5rem + 1vw);
}
nav .inner-nav {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .inner-nav .logo {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}
nav .inner-nav .logo span {
  display: flex;
  justify-content: start;
  align-items: center;
  width: calc(9rem + 3vw);
}
nav .inner-nav .logo span img {
  width: 100%;
  height: 100%;
}
nav .inner-nav .icons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
nav .inner-nav .icons #user,
nav .inner-nav .icons #cart {
  width: calc(3rem + 1vw);
  height: calc(3rem + 1vw);
}
nav .inner-nav .icons #user,
nav .inner-nav .icons #cart,
nav .inner-nav .icons #search {
  margin: 0 4%;
  position: relative;
  cursor: pointer;
}
nav .inner-nav .icons #search {
  width: calc(4rem + 1.5vw);
  height: calc(4rem + 1.5vw);
  transform: translateY(-5%);
  position: relative;
  right: 0%;
}
nav .inner-nav .icons img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .inner-nav .icons #cart #c-items {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 1px solid #a82ff9;
  border-radius: 3vw;
  top: 38%;
  right: 1%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", "Montserrat", sans-serif;
  font-weight: 600;
  color: #423af2;
}

.main-conatiner {
  width: 100%;
  margin: auto;
}
.main-conatiner .part:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-conatiner .part:nth-child(1) .wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  width: 85%;
}
.main-conatiner .part:nth-child(1) .wrapper .yc {
  display: flex;
  flex: 2;
  flex-direction: column;
}
.main-conatiner .part:nth-child(1) .wrapper .yc span {
  display: flex;
  align-items: center;
  font-family: "Poppins", "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.main-conatiner .part:nth-child(1) .wrapper .yc span h2 {
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-right: 0.4rem;
}
.main-conatiner .part:nth-child(1) .wrapper .yc h1 {
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.main-conatiner .part:nth-child(1) .wrapper .pu {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.main-conatiner .part:nth-child(1) .wrapper .pu .pu-wrapper {
  width: calc(7rem + 2.5vw);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-conatiner .part:nth-child(1) .wrapper .pu h2 {
  position: absolute;
  font: 1rem "Poppins", sans-serif;
  font-weight: 500;
  pointer-events: none;
  color: white;
}
.main-conatiner .part:nth-child(1) .wrapper .pu img {
  width: 100%;
  cursor: pointer;
}
.main-conatiner #products {
  margin: 4rem 0;
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-conatiner #products .inner-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.main-conatiner #products .inner-prod .img {
  flex: 1;
}
.main-conatiner #products .inner-prod .img img {
  width: 100%;
  height: 100%;
}
.main-conatiner #products .inner-prod .det {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.main-conatiner #products .inner-prod .det .title,
.main-conatiner #products .inner-prod .det .rating,
.main-conatiner #products .inner-prod .det .p-c,
.main-conatiner #products .inner-prod .det .offers {
  margin: 0.2rem 0rem;
}
.main-conatiner #products .inner-prod .det .title h4 {
  font-family: "Montserrat", "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6a6a6a;
}
.main-conatiner #products .inner-prod .det .title h2 {
  font-family: "Poppins", san-serif;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}
.main-conatiner #products .inner-prod .rating {
  display: flex;
}
.main-conatiner #products .inner-prod .rating .avg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 2rem;
  border-radius: 0.4rem;
  background: #423af2;
}
.main-conatiner #products .inner-prod .rating .avg span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 70%;
}
.main-conatiner #products .inner-prod .rating .avg img {
  width: 35%;
}
.main-conatiner #products .inner-prod .rating .avg h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1rem;
}
.main-conatiner #products .inner-prod .rating .r-count {
  flex: 6;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-conatiner #products .inner-prod .rating .r-count h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.main-conatiner #products .inner-prod .p-c .price {
  font-family: "poppins", sans-serif;
  flex: 2;
  max-width: 100px;
}
.main-conatiner #products .inner-prod .p-c .price h2 {
  font-weight: 500;
  font-size: 1.8rem;
}
.main-conatiner #products .inner-prod .p-c .price .cut-p h2 {
  font-size: 1.4rem;
  color: #434343;
  position: relative;
}
.main-conatiner #products .inner-prod .p-c .price .cut-p h2 .cut {
  width: 4ch;
  top: 40%;
  position: absolute;
  height: 0.2rem;
  background: #434343;
}
.main-conatiner #products .inner-prod .p-c .price .cut-p h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #251ebb;
}
.main-conatiner #products .inner-prod .p-c .prod-c {
  flex: 2;
  align-items: center;
}
.main-conatiner #products .inner-prod .p-c .prod-c img {
  width: calc(2rem + 1vw);
}
.main-conatiner #products .inner-prod .p-c .prod-c h2 {
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1.8rem;
}
.main-conatiner #products .inner-prod #offers .offer {
  display: flex;
  margin: 0.2rem 0;
  gap: 0.4rem;
  align-items: flex-start;
}
.main-conatiner #products .inner-prod #offers .offer img {
  flex: 1;
}
.main-conatiner #products .inner-prod #offers .offer h2 {
  font-family: "Nunito", "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  flex: 12;
}
.main-conatiner #price-b {
  min-height: 260px;
  display: flex;
}
.main-conatiner #price-b .inner-price {
  flex-direction: column;
}
.main-conatiner #price-b .inner-price .bh2 {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito", sans-serif;
  margin-bottom: 2rem;
}
.main-conatiner #price-b .inner-price .bh2 h2 {
  font-weight: 600;
  font-size: 1.8rem;
}
.main-conatiner #price-b .inner-price .bh2 h2::before {
  content: "";
  position: absolute;
  width: 1.4%;
  height: 1.8ch;
  border-radius: 20rem;
  transform: translateX(-200%);
  background: #423af2;
}
.main-conatiner #price-b .inner-price .b-p {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.main-conatiner #price-b .inner-price .b-p .breakdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 360px;
  flex: 1;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart {
  display: flex;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart .img-text {
  display: flex;
  flex: 2;
  align-items: center;
  gap: 0.5rem;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart .img-text h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart .img-text img {
  width: calc(2rem + 4%);
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart .t-blue,
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart span {
  color: #423af2;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .breakpart h3 {
  flex: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .line {
  width: 90%;
  height: 0.2em;
  border-radius: 8rem;
  background: #423af2;
}
.main-conatiner #price-b .inner-price .b-p .breakdown .total h2,
.main-conatiner #price-b .inner-price .b-p .breakdown .total h4 {
  font-weight: 500 !important;
}
.main-conatiner #price-b .inner-price .b-p .breakdown form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #423af2;
  border-radius: 0.8rem;
  overflow: hidden;
  padding: 1rem;
  position: relative;
}
.main-conatiner #price-b .inner-price .b-p .breakdown form input[type=submit] {
  opacity: 0;
}
.main-conatiner #price-b .inner-price .b-p .breakdown form img {
  position: absolute;
  width: 54%;
  right: -15%;
  height: 129%;
}
.main-conatiner #price-b .inner-price .b-p .breakdown form button {
  border: none;
  background: transparent;
  flex: 1;
}
.main-conatiner #price-b .inner-price .b-p .breakdown form input[type=text] {
  flex: 1;
  height: 100%;
  border: none;
}
.main-conatiner #price-b .inner-price .b-p .payment-container {
  flex: 1;
  max-width: 360px;
}
.main-conatiner #price-b .inner-price .b-p .payment-container h2 {
  font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .pay {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 1.4rem 0;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .pay h4 {
  position: absolute;
  font-size: 1rem;
  font-family: "Montserrat", "Helvetica Neue", "Poppins", "Nunito";
  color: #fff;
  font-weight: 600;
  left: 49%;
  pointer-events: none;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1.4rem;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main .payments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main .payments .payment {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main .payments .payment h4 {
  font-family: "Nunito", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  flex: 6;
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main .payments .payment .img-t {
  display: flex;
  align-items: center;
  width: calc(1.5rem + 4%);
}
.main-conatiner #price-b .inner-price .b-p .payment-container .payment-main .payments .payment .img-t img {
  width: 100%;
}

.part {
  background: white;
  width: 100%;
}
.part .wrapper {
  width: 85%;
  display: flex;
  margin: auto;
}/*# sourceMappingURL=style.css.map */